* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
  /* font-family: sans-serif; */
}
#header {
  width: 100%;
  position: fixed;
  background-color: rgba(59, 58, 58, 0.567);
  backdrop-filter: blur(5px);
  padding: 20px 0;
  z-index: 99;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  color: black;
}
.header-nav a {
  font-size: 20px;
  color: white;
  margin: 20px;
}
.region {
  color: white;
  background: none;
  border: none;
  font-size: 20px;
}
.select-btn {
  color: white;
  background: none;
  border: none;
  font-size: 20px;
}

option {
  background: rgba(59, 58, 58, 0.567);
}
.sort {
  color: white;
  background: none;
  border: none;
  font-size: 20px;
}
.blocks {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.card {
  /* margin-top: 120px; */
  width: 300px;
  height: 100%;
  background-color: cornflowerblue;
  border-radius: 30px;
  padding: 20px 10px;
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.1);
}
.img1 {
  width: 250px;
  height: 140px;
  margin-left: 20px;
}
.img2 {
  width: 190px;
  height: 180px;
  margin: 10px 0 0 40px;
}
.card a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  margin: 10px 0 0 20px;
}
.card h2 {
  text-align: center;
  margin: 10px 0px;
}
.card h3 {
  text-align: center;
  margin: 5px 0px;
}
.card h5 {
  text-align: center;
}
.button {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 60px;
}
.header-search input {
  font-size: 20px;
  border: 2px solid white;
  border-radius: 7px;
  background: none;
  outline: none;
  padding: 3px 5px;
}

.header-search button {
  font-size: 18px;
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
  padding-top: 5pc;
}
.userBlock {
  width: 250px;
  height: 450px;
  background: cornflowerblue;
  border-radius: 20px;
  margin-top: 30px;
}

.userBlock img {
  width: 120px;
  margin-top: 30px;
}

.userBlock h2 {
  color: white;
  font-size: 25px;
  padding: 14px 0;
}

.userBlock h3 {
  color: white;
  font-size: 20px;
}
.userBlock h4 {
  /* color: white; */
  font-size: 20px;
}

.userBlock button {
  margin-top: 10px;
  padding: 8px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: red;
  color: white;
}
.btn-button {
  margin-top: 10px;
  padding: 8px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: red;
  color: white;
}

.userBlock button:hover {
  background: rgb(153, 24, 24);
}

.blocks {
  padding-top: 8pc;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1pc;
  padding-top: 7pc;
}

.btn-button {
  width: 180px;
}

.btn-button:hover {
  background: rgb(138, 32, 32);
}
